*{
    box-sizing: border-box;
    /* border: 1px black solid; */
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 30vh;
    height: 15vh;
    background: url(./gambar/logo.png) center;
    background-size: cover;
}

.navbar a{  
    text-decoration: none;
    padding: 40px 15px;
    color: #3b3b3b;
    font-weight: bold;
}

.navbar a:nth-child(6){
    display: none;
}

.navbar a:nth-child(1){
    margin-right: 20em;
    padding: 0;
}

.header {
    height: 60vh;
	background: url(./gambar/laptop.jpg) center fixed;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header:after{
    content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background-color: rgb(134, 213,213, .6);
}


.judul{
    text-align: center;
    color: white;
    width: 500px;
    height: 300px;
    padding: 10px;
    margin-top: 10px;
    z-index: 1;
}

.judul > h2{
    font-weight: bold;
}

.judul > p{
    font-weight: bold;
}

.more > a{
    font-weight: bold;
}

.more{
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 30px;
}

.more > a{
    text-decoration: none;
    color: black;
    padding: 30px 145px 30px 145px;
}

.service > h2{
    text-align: center;
}

.icon-header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.icons{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(51, 148, 148);
    overflow: hidden;
}

.icon-list-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-list-1 > h4{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.icon-list-1 > h5{
    width: 150px;
    font-size: 13px;
    text-align: center;
    margin: 0;
}


.icon-1{
    background: url(./gambar/24-hours.png) rgb(51, 148, 148) center;
    background-size: cover;
    width: 20vh;
    height: 20vh;
}

.icon-2{
    background: url(./gambar/megaphone.png) rgb(51, 148, 148) center;
    background-size: cover;
    width: 20vh;
    height: 20vh;
}

.icon-3{
    background: url(./gambar/deadline.png) rgb(51, 148, 148) center;
    background-size: cover;
    width: 20vh;
    height: 20vh;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(134, 213,213);
    padding: 10vh;
}

.about-text{
    width: 60vh;
}

.about-us{
    font-weight: bold;
    font-size: 4vh;
}

.about-img{
    background: url(./gambar/logo-TOS.jpeg) center no-repeat;
    background-size: cover;
    border-radius: 30px;
    width: 50vh;
    height: 30vh;
}

.profile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
}

.next{
    width: 100px;
    height: 100px;
}

.profiles{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 40vh;
    height: 50vh;
}

.profile-image{
    width: 15vh;
    height: 15vh;
    border-radius: 100vh;
    background: url(./gambar/edhos.png) center;
    background-size: cover;
}

.profile-text,
.profile-name {
    text-align: center;
}

.more-icon{
    width: 5vh;
    height: 5vh;
    background: url(./gambar/more.png) center;
    background-size: cover;
}

.next{
    width: 7vh;
    height: 7vh;
    background: url(./gambar/next.png) center;
    background-size: cover;
}

.icon-next-1{
    transform: rotate(180deg);
}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(51, 148, 148);
    height: 20vh;
}

.form-input > input {
    border-radius: 10px;
    border: 2px solid white;
    width: 70vh;
    height: 15vh;
    background-color: rgb(51, 148, 148);
}

.button > button{
    border-radius: 10px;
    width: 25vh;
    height: 15vh;
    font-weight: bold;
    color: rgb(51, 148, 148);
    cursor: pointer;
    background-color: white;
    border: none;
}

input::placeholder{
    color: #ffffff;
    font-weight: bold;
}

input[type=text]:focus {
    border: 2px solid white;
}

input[type=text]{
    color: white;
    font-size: 3vh;
    outline: none;
}

footer{
    padding: 5px;
    margin-top: 8vh;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    justify-content: center;
}

@media only screen and (max-width: 600px){
    .navbar{
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        justify-content: space-between;
        align-items: normal;
    }

    .navbar  a:not(:nth-child(6)){
        display: none;
    }

    .navbar a:nth-child(1){
        display: block;
        height: 20vh;
        margin-right: 0;
    }

    .navbar a:nth-child(6){
        display: block;
        text-align: center;
        width: 20vh;
    }

    .header {
        height: 80vh;
    }
    
    .judul{
        margin-top: 0;
        width: 60vh;
        height: 70vh;
    }
    
    .more > a{
        padding: 0;
    }
    
    .icon-header{
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
    }
    
    .icon-list-1  h5{
        margin-bottom: 5vh;
    }

    .about {
        flex-direction: column;
    }
    
    .about-img{
        margin-top: 5vh;
    }

    .profile{
        height: 60vh;
    }

    .profiles{
        height: 60vh;
    }

    .form-input > input {
        width: 40vh;
        height: 10vh;
    }
    
    .button > button{
        height: 10vh;
    }
    
    footer h4{
        font-size: 2vh;
    }

    input[type=text]{
        font-size: 2vh;
    }
}